{% extends "base.html.twig" %}

{% block title %}Actualite{% endblock %}

{% block body %}
    <!-- Loader Start -->
{#    <div class="css-loader">#}
{#        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>#}
{#    </div>#}
    <!-- Loader End -->
    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic) }}" alt="logo-header">

    <section class="featured mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
                    <div class="title">
                        <h1 class="title-blue text-center">{{ identity.eventtitle }}</h1>
                    </div>
                    {{ identity.eventcontent | raw }}
                    <a href="{{ identity.cagnotte }}" target="_blank" style="margin-top: -30px;" class="btn btn-primary" id="click">Participer à
                        cette action</a>
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="400" data-aos-duration="600">
                    <div class="featured-img">
                        <img class="featured-big" src="{{ asset('uploads/images/' ~ identity.eventpic) }}" alt="Featured 1">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured mt-5">
        <div class="container">
            <div class="row">
                {% for post in posts  %}
                    <div class="col-md-6 col-lg-4 my-4 d-flex align-items-stretch">
                        <div class="d-flex align-items-center card p-4 mx-auto w-100">
                            <div class="d-flex" style="height:300px;">
                                <img class="align-items-center justify-content-center img-fluid w-100"
                                     style="object-fit: cover"
                                     src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.title }}">
                            </div>
                            <h4 class="card-title mt-4 mb-5 text-center" style="color: #0a0a0a">{{ post.title }}</h4>
                            <a class="btn btn-primary mt-auto px-5" href="{{ path('default_post', {
                                'id' : post.id,
                                'title' :post.alias
                            }) }}">Lire la suite</a>
                        </div>
                    </div> <!--fin col-md-4-->
                {% endfor %}
            </div><!--fin row-->
        </div>
    </section>
{% endblock %}

