{% extends "base.html.twig" %}

{% block title %}Politique confidentialite{% endblock %}

{% block body %}
    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic) }}" alt="logo-header">
    <div class="p-3 mx-auto text-center mt-5">
        <h1 class="display-4">Politique de confidentialité</h1>
    </div>
    <div class="accordion accordion-flush  col-10 text-center container" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Quels sont nos engagements en matière de protection des données personnelles?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">{{ identity.name }}, en sa qualité de responsable de traitement, s’engage à
                    traiter et protéger vos données personnelles collectées conformément aux dispositions de la Loi
                    n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés dite loi «
                    Informatique et Libertés », et au Règlement européen du 25 mai 2018 sur la protection des données («
                    RGPD »). Cet engagement vaut pour l’ensemble des données personnelles qu'elle collecte via ce site
                    et/ou au travers de tout support numérique ou papier.<br><br>

                    Plus particulièrement, {{ identity.name }} s’engage à respecter les principes suivants :<br><br>

                    -Vos données personnelles sont traitées de manière licite, loyale et transparente (licéité, loyauté,
                    transparence) ;<br>
                    -vos données personnelles sont collectées pour des finalités déterminées, explicites et légitimes,
                    et
                    ne sont pas traitées ultérieurement d’une manière incompatible avec ces finalités (limitation des
                    finalités) ;<br>
                    -vos données personnelles sont conservées de manière adéquate, pertinente et sont limitées à ce qui
                    est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des
                    données) ;<br>
                    -vos données personnelles sont exactes, tenues à jour et toutes les mesures raisonnables sont prises
                    pour que les données inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient
                    effacées ou rectifiées sans tarder (exactitude).<br><br>


                    Pour toute information sur la protection des données personnelles, vous pouvez également consulter
                    le site de la Commission Informatique et Liberté <a href="https://www.cnil.fr/"></a> .
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Quelles sont les données personnelles collectées?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Les données personnelles que nous collectons sur ce site, sur les supports
                    numériques ou papier sont les suivantes :<br><br>

                    -Des données d’identification : civilité, nom, prénom, date de naissance ou âge<br>
                    -Des données de contact : adresse postale, e-mail, numéro(s) de téléphone, préférence de contact<br>
                    -Des données de gestion : historique de vos dons, numéro de donateur, informations de contact,
                    <br>
                    -Des données de connexion : date, heure, adresse IP, logiciels et matériels, pages consultées
                    Le caractère obligatoire ou facultatif des données vous est signalé lors de la collecte par un
                    astérisque. De fait, si vous ne souhaitez pas fournir ces données personnelles, vous ne pourrez pas
                    accéder aux services ou fonctionnalités en question.<br><br>

                    Certaines données sont collectées automatiquement du fait de vos actions sur le site.

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Pourquoi collectons nous vos données personnelles?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">INAYAH utilise vos données personnelles principalement pour les
                    finalités suivantes :<br><br>

                    -Vous permettre de vous engager à nos côtés à travers des appels à votre générosité, la signature de
                    pétition, l’inscription à un de nos programmes d’engagement (devenir bénévole, etc.)<br>
                    -Répondre à vos demandes d’information sur notre mission, nos campagnes, nos programmes, nos actions
                    urgentes ;<br>
                    -Vous transmettre notre communication institutionnelle et externe (brochures, guide, newsletter,
                    <br>
                    -Assurer la gestion de la relation donateur, adhérent, bénévole et testateur ainsi que celle des
                    potentiels donateurs et testateurs ;<br>
                    -Assurer le traitement des dons et l’envoi du reçu fiscal<br>
                    -Recueillir les données à des fins statistiques et d’amélioration de la qualité de service
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Quelle est la durée de conservation de vos données personelles?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Nous conservons vos données personnelles pendant la durée strictement
                    nécessaires aux finalités pour lesquelles elles sont collectées.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Qui a accès à vos données personnelles?
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> L’accès à vos données personnelles
                    est limité aux services d’{{ identity.name }} et aux tiers mandatés par {{ identity.name }} pour mener à bien le
                    traitement. Ces tiers sont scrupuleusement sélectionnés par {{ identity.name }} et contractuellement tenus
                    de garantir des conditions de sécurité et de protection de vos données à caractère personnel telles
                    que prévues par la réglementation française et européenne.<br><br>

                    Vos données personnelles ne sont pas transmises ou cédées à des tiers, à l’exception de nos
                    partenaires du secteur caritatif.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Quelles sont les mesures prise pour la protection de vos données ?
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> {{ identity.name }} ainsi que les tiers mandatés par {{ identity.name }}, susceptibles
                    de collecter ou traiter vos données, s’engagent à garantir la sécurité, la confidentialité et
                    l’intégrité de vos données personnelles. Ainsi, nous mettons en œuvre des mesures techniques,
                    physiques et organisationnelles nécessaires pour prévenir, dans la mesure du possible, toute
                    altération, perte ou accès non autorisé à vos données personnelles.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    Utilisation de cookies
                </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> Le site web d’{{ identity.name }} peuvent être amenés à inscrire et utiliser
                    des « cookies ». Un cookie est un petit fichier texte ou un ensemble de données qu’un site web peut
                    envoyer ou sauvegarder sur votre ordinateur lorsque vous le visitez. Plus spécifiquement, il s’agit
                    de chaînes de caractères déposées sur le disque dur de votre ordinateur. Le cookie n’a pour but que
                    de vous simplifier la navigation sur nos sites web lors de vos visites ultérieures. <br><br>

                    Nos sites Internet peuvent utiliser des cookies afin :<br><br>

                    de garder en mémoire vos identifiants. Cela vous permettant de ne pas avoir à retaper vos
                    informations déjà complétées ultérieurement.
                    d’élaborer des statistiques sur la navigation de nos sites afin de nous adapter à votre comportement
                    en tant qu’internaute.<br>
                    Il existe deux types de cookie :<br><br>

                    le premier enregistre un fichier qui peut rester sur votre ordinateur pendant une période prolongée
                    même une fois que vous l’avez éteint. Ces cookies peuvent par exemple servir à indiquer à un
                    visiteur les mises à jour d’un site web depuis sa dernière visite sur ce site.
                    le second est appelé « cookie de session » : lorsque vous visitez un site web, les cookies de
                    session sont temporairement mémorisés dans votre ordinateur. Ils servent par exemple à identifier
                    quelle langue vous avez sélectionnée sur le site web. Les cookies de session ne restent pas
                    longtemps sur votre ordinateur, ils disparaissent lorsque vous fermez votre navigateur Internet.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    Comment éviter les cookies?
                </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> La plupart des navigateurs Internet vous permettent de paramétrer le
                    navigateur afin qu’il bloque les cookies, pour qu’il les efface de votre disque dur ou pour qu’il
                    vous signale lorsqu’une page web contient des cookies avant qu’un cookie ne soit mémorisé.

                    Pour empêcher le téléchargement de cookies ou pour contrôler la manière dont ils sont utilisés sur
                    votre ordinateur consultez les instructions d’utilisation ou la rubrique d’aide de votre navigateur
                    ou rendez-vous sur : www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser.

                    Remarque : il est possible que certaines de nos pages web ne fonctionnent pas correctement sans
                    cookie.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    Vos droits concernant vos données personelles.
                </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> Conformément à la loi « Informatique et Libertés » et au Règlement européen
                    du 25 mai 2018 sur la protection des données (« RGPD »), vous bénéficiez d’un droit d’accès, de
                    rectification et d’effacement de vos données personnelles, d’un droit de limitation et d’opposition
                    à leur traitement, ainsi qu’un droit à leur potabilité. Vous disposez également du droit de définir
                    du sort de vos données à caractère personnel « post-mortem ». <br><br>

                    Ces droits s’exercent auprès de notre Service Relations Donateurs par email ou par courrier à
                    l’adresse suivante :<br><br>

                    {{ identity.name }}
                    {{ identity.adress }}
                    {{ identity.cp }}
                    {{ identity.city }}

                    Toute demande d’exercice de vos droits doit être accompagnée d’une copie d'une pièce d'identité en
                    cours de validité sauf si les éléments communiqués dans le cadre de votre demande permettent de vous
                    identifier de façon certaine.

                    Vous pouvez également introduire une réclamation auprès de la CNIL.
                    Elle peut être saisie en ligne : www.cnil.fr/fr/plaintes/internet ou par courrier au 3 place de
                    Fontenoy, TSA80715-77334.

                    Sauf opposition de votre part, {{ identity.name }} est susceptible de partager les données relatives à ses
                    donateurs avec d’autres organismes du secteur caritatif.
                </div>
            </div>
        </div>
    </div>

{% endblock %}