{% extends "base.html.twig" %}

{% block title %}ADMINISTRATION {% endblock %}
{% block body %}
    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic) }}" alt="logo-header">
    <div class="container-fluid my-5">


        <div class="accordion accordion-flush  col-12 text-center container" id="accordionFlushExample">

            {# LISTE DES DEMANDEURS #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Liste des bénéficiaires
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="col-md-12 px-0">
                            <table class="table table-bordered compact" id="myTable">
                                <thead>
                                <th class="text-center align-middle px-0"> Prénom</th>
                                <th class="text-center align-middle px-0"> Nom</th>
                                <th class="text-center align-middle px-0"> Adresse</th>
                                <th class="text-center align-middle px-0"> Code postal</th>
                                <th class="text-center align-middle px-0"> Ville</th>
                                <th class="text-center align-middle px-0"> Email</th>
                                <th class="text-center align-middle px-0"> Telephone</th>
                                <th class="text-center align-middle px-0"> Description</th>
                                <th class="text-center align-middle px-0"> Modifier Supprimer</th>
                                <th class="text-center align-middle px-0"> Telecharger la fiche</th>
                                </thead>
                                <tbody>
                                {% for user in demandeurs %}
                                    <tr>
                                        <td> {{ user.firstname }} </td>
                                        <td> {{ user.lastname }} </td>
                                        <td> {{ user.adress }} </td>
                                        <td> {{ user.cp }} </td>
                                        <td> {{ user.city }} </td>
                                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                        <td> {{ user.tel }} </td>
                                        <td> {{ user.description }} </td>
                                        <td class="text-center">
                                            <a class="px-4 btn btn-danger my-2" href="{{ path('user-update', { 'id' : user.id }) }}">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <a class="px-4 btn btn-danger" href="{{ path('user_delete', { 'id' : user.id }) }}">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="px-4 btn btn-danger my-2"
                                               href="{{ path('user_load', { 'id' : user.id }) }}">
                                                <i class="fas fa-download"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {# #}{# LISTE DES BENEVOLES #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Liste des bénévoles
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="col-md-12 px-0">
                            <table class="table table-bordered compact overflow" id="myTable2">
                                <thead>
                                <th class="text-center align-middle px-0"> Prénom</th>
                                <th class="text-center align-middle px-0"> Nom</th>
                                <th class="text-center align-middle px-0"> Adresse</th>
                                <th class="text-center align-middle px-0"> Code postal</th>
                                <th class="text-center align-middle px-0"> Ville</th>
                                <th class="text-center align-middle px-0"> Email</th>
                                <th class="text-center align-middle px-0"> Telephone</th>
                                <th class="text-center align-middle px-0"> Véhicule</th>
                                <th class="text-center align-middle px-0"> Description</th>
                                <th class="text-center align-middle px-0"> Modifier  Suppimer</th>
                                <th class="text-center align-middle px-0"> Telecharger la fiche</th>
                                </thead>
                                <tbody>
                                {% for user in benevoles %}
                                    <tr>
                                        <td> {{ user.firstname }} </td>
                                        <td> {{ user.lastname }} </td>
                                        <td> {{ user.adress }} </td>
                                        <td> {{ user.cp }} </td>
                                        <td> {{ user.city }} </td>
                                        <td> {{ user.email }} </td>
                                        <td> {{ user.tel }} </td>
                                        <td> {{ user.vehicule }} </td>
                                        <td> {{ user.description }} </td>
                                        <td class="text-center">
                                            <a class="px-4 btn btn-danger my-2"
                                               href="{{ path('user-update', { 'id' : user.id }) }}"><i class="far fa-edit"></i>
                                            </a>
                                            <a class="px-4 btn btn-danger"
                                               href="{{ path('user_delete', { 'id' : user.id }) }}"><i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                        <td class="text-center" vertical="center">
                                            <a class="px-4 btn btn-danger my-2"
                                               href="{{ path('user_load', { 'id' : user.id }) }}">
                                                <i class="fas fa-download"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            {# LISTE DES MESSAGES RECU #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                        Liste des messages reçus

                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="col-md-12 px-0">
                            <table class="table table-bordered compact" id="myTable3">
                                <thead>
                                <th class="text-center align-middle px-0"> Nom complet</th>
                                <th class="text-center align-middle px-0"> email</th>
                                <th class="text-center align-middle px-0"> description</th>
                                <th class="text-center align-middle px-0"> date de reception</th>
                                <th class="text-center align-middle px-0"> Supprimer</th>
                                </thead>
                                <tbody>
                                {% for message in messages %}
                                    <tr>
                                        <td> {{ message.fullname }} </td>
                                        <td> {{ message.email }} </td>
                                        <td> {{ message.description }} </td>
                                        <td> {{ message.date | date('d/m/Y') }} </td>
                                        <td class="text-center">
                                            <a class="px-4 btn btn-danger" href="{{ path('message_delete', { 'id' : message.id }) }}"><i
                                                        class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            {# LISTE DES ARTICLES #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                        Liste des articles publiés
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="col-md-12 px-0">
                            <table class="table table-bordered compact" id="myTable4">
                                <thead>
                                <th class="text-center align-middle px-0"> Titre</th>
                                <th class="text-center align-middle px-0"> Contenu</th>
                                <th class="text-center align-middle px-0"> Image</th>
                                <th class="text-center align-middle px-0"> Date</th>
                                <th class="text-center align-middle px-0"> Modifier</th>
                                <th class="text-center align-middle px-0"> Supprimer</th>
                                </thead>
                                <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td> {{ post.title }} </td>
                                        <td> {{ post.content | raw }} </td>
                                        <td>
                                            <img style="width:100px" class="img-fluid" src="{{ asset('uploads/images/' ~ post
                                            .image) }}" alt="{{ post.title }}">
                                        </td>
                                        <td> {{ post.createdAt | date('d/m/Y') }} </td>
                                        <td class="text-center">
                                            <a class="px-4 btn btn-danger" href="{{ path('post_update', { 'id' : post.id }) }}"><i
                                                        class="far fa-edit"></i></a>
                                        </td>
                                        <td class="text-center">
                                            <a class="px-4 btn btn-danger" href="{{ path('post_delete', {
                                                'id' : post.id }) }}"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}