{% extends "base.html.twig" %}

{% block title %}Modification des informations du propriétaire du site{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/ckeditor_24.0.0.js') }}"></script>
    <script>
        ClassicEditor.create( document.querySelector( '#identity_form_eventcontent' ) );
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"
            integrity="sha512-8QFTrG0oeOiyWo/VM9Y8kgxdlCryqhIxVeRpWSezdRRAvarxVtwLnGroJgnVW9/XBRduxO/z1GblzPrMQoeuew=="
            crossorigin="anonymous"></script>
    <script>
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'Désolé; le fichier est trop volumineux'
            }
        });

    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css"
          integrity="sha512-EZSUkJWTjzDlspOoPSpUFR0o0Xy7jdzW//6qhUkoZ9c4StFkVsp9fbbd0O06p9ELS3H486m4wmrCELjza4JEog=="
          crossorigin="anonymous" />

    <style>
        .custom-file-label { display: none; }
        .dropify-wrapper .dropify-message p {
            font-size: 15px;
        }
    </style>

{% endblock %}

{% block body  %}
{% dump identity %}
<body>
    <!-- Loader End -->
    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic.filename) }}" alt="logo-header">

    {# FORMULAIRE D'UPDATE IDENTITY #}
    <div class="container-fluid mx-auto my-5">
        <h1>Configuration</h1>
        <div class="row mt-5">
            <div class="col-lg-7 mx-auto">
                <h2 class="text-center">Informations du propriétaire du site</h2>
                <div class="p-3 mb-5 bg-light">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="mb-4">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            {{ form_label(form.adress) }}
                            {{ form_errors(form.adress) }}
                            {{ form_widget(form.adress) }}
                        </div>
                        <div class="col-md-6 mb-4">
                            {{ form_label(form.city) }}
                            {{ form_errors(form.city) }}
                            {{ form_widget(form.city) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-4">
                            {{ form_label(form.cp) }}
                            {{ form_errors(form.cp) }}
                            {{ form_widget(form.cp) }}
                        </div>
                        <div class="col-md-3 mb-4">
                            {{ form_label(form.tel) }}
                            {{ form_errors(form.tel) }}
                            {{ form_widget(form.tel) }}
                        </div>
                        <div class="col-md-6 mb-4">
                            {{ form_label(form.email) }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            {{ form_label(form.logo) }}
                            {{ form_errors(form.logo) }}
                            {{ form_widget(form.logo) }}
{#                            {{ form_widget(edit_form.fotoUsuario, { 'attr': {'data-default-file': '{{ asset('images/usuarios/'~ tUsuario.fotoUsuario) }}'} }) }}#}
{#                            {{ form_widget(form.logo, { 'attr': {'data-default-file': '{{ asset('uploads/images/'~ identity.logo) }}'}}) }}#}

                        </div>
                        <div class="col-md-6 mb-4">
                            {{ form_label(form.headerpic) }}
                            {{ form_errors(form.headerpic) }}
                            {{ form_widget(form.headerpic) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mx-auto">
                <h2 class="text-center">Mise à jour de l'évènement</h2>
                <div class="p-3 mb-5 bg-light">
                    <div class="mb-4">
                        {{ form_label(form.banner) }}
                        {{ form_errors(form.banner) }}
                        {{ form_widget(form.banner) }}
                    </div>
                    <div class="mb-4">
                        {{ form_label(form.eventtitle) }}
                        {{ form_errors(form.eventtitle) }}
                        {{ form_widget(form.eventtitle) }}
                    </div>
                    <div class="mb-4">
                        {{ form_label(form.eventcontent) }}
                        {{ form_errors(form.eventcontent) }}
                        {{ form_widget(form.eventcontent) }}
                    </div>
                    <div class="mb-4">
                        {{ form_label(form.eventpic) }}
                        {{ form_errors(form.eventpic) }}
                        {{ form_widget(form.eventpic) }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-4 mx-auto">
                        {{ form_label(form.submit) }}
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</body>
{% endblock %}