{% extends "base.html.twig" %}

{% block title %}Contactez Nous{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#form_content'));
    </script>

{% endblock %}


{% block body %}
    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic) }}" alt="logo-header">
    {# {{ dump(posts) }}
    {# -- .p-3.mx-auto.text-center>h1.diplay-4 -- #}
    <div class="container mx-auto my-5">
        <div class="row mt-5">
            <div class="col-lg-6 mx-auto">
                <h1 class="text-center">Contactez-nous</h1>
                <div class="p-5 mb-5 bg-light">
{#                    {{ form(form, {attr: {novalidate : 'novalidate'}}) }}#}
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="mb-4">
                            {{ form_label(form.fullname) }}
                            {{ form_errors(form.fullname) }}
                            {{ form_widget(form.fullname) }}
                        </div>
                        <div class="mb-4">
                            {{ form_label(form.email) }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="mb-4">
                            {{ form_label(form.description) }}
                            {{ form_errors(form.description) }}
                            {{ form_widget(form.description) }}
                        </div>
                        <div class="mb-4">
                            {{ form_label(form.captcha) }}
                            {{ form_errors(form.captcha) }}
                            {{ form_widget(form.captcha) }}
                        </div>
                        <div class="mb-4">
                            {{ form_label(form.submit) }}
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row  mb-lg-6 col-md-12 col-sm-12 mx-auto" style="margin-bottom: 40px">
        <div class="adress col-md-6 col-sm-12 mx-auto "><img src="{{ asset('uploads/images/' ~ identity.logo)
            }}" alt="logo" style="width: 70px" >
            <p class="mx-auto"><strong>{{ identity.name }}</strong><br>
                {{ identity.adress }},<br> {{ identity.cp }} {{ identity.city }}</p>
        </div>

            <div class=" maps  col-md-6 col-sm-12 mx-auto ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2651.61990026316!2d1.9923879160712998!3d48.34861087924093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e44a36288cf41f%3A0xc9cdeb94da30209!2s20%20Rue%20Etienne%20Laurent%2C%2091740%20Pussay!5e0!3m2!1sfr!2sfr!4v1609624655362!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

    </div>
{% endblock %}