<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<!-- Header Start -->
<div class="container saRace">
    <a href="{{ path('default_index') }}"><img class="sorting_asc_disabled" src="{{ path('default_index') }}/public/assets/images/logo.png"  alt=""/>
               </a>
    <a href="{{ path('default_index') }}"></a>

    <a href="{{ path('default_index') }}"></a>
    <a href="{{ path('agir_agir') }}"></a>

    <a href="https://www.helloasso.com/associations/association-inayah/formulaires/2">&nbsp;</a>
    <a href="{{ path('message-create') }}">&nbsp;</a>


    <a href="{{ path('admin_dashboard') }}">&nbsp;</a>
    <a href="{{ path('post_create') }}">&nbsp;</a>
    <a href="{{ path('app_logout') }}">&nbsp;</a>

    <a href="{{ path('user-create') }}">&nbsp;</a>
    <a href="{{ path('user-create') }}">&nbsp;</a>
    <a href="{{ path('app_login') }}">&nbsp;</a>

</div>
<!-- Header End -->
{% block body %}
    <h1> HELLO </h1>
{% endblock %}
</body>
</html>