{% extends "base.html.twig" %}

{% block title %}Créer un article{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/ckeditor_24.0.0.js') }}"></script>
        <script>
            ClassicEditor.create( document.querySelector( '#post_content' ) );
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"
                integrity="sha512-8QFTrG0oeOiyWo/VM9Y8kgxdlCryqhIxVeRpWSezdRRAvarxVtwLnGroJgnVW9/XBRduxO/z1GblzPrMQoeuew=="
                crossorigin="anonymous"></script>

        <script>
            $('.dropify').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove:  'Supprimer',
                    error:   'Désolé; le fichier est trop volumineux'
                }
            });
        </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css"
          integrity="sha512-EZSUkJWTjzDlspOoPSpUFR0o0Xy7jdzW//6qhUkoZ9c4StFkVsp9fbbd0O06p9ELS3H486m4wmrCELjza4JEog=="
          crossorigin="anonymous"/>

    <style>
        .custom-file-label {
            display: none;
        }

        .dropify-wrapper .dropify-message p {
            font-size: 15px;
        }
    </style>

{% endblock %}

{% block body %}

    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic) }}" alt="logo-header">
    <div class="p-3 my-5 mx-auto text-center">
        <h1 class="display-4">Créer un article</h1>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            {{ form_label(form.content) }}
                            {{ form_widget(form.content) }}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            {{ form_label(form.image) }}
                        </div>
                        <div class="d-flex align-items-stretch justify-content-around">
                            <div class="col-md-2">
                                {% if (currentImage is defined and currentImage is not null) %}
                                    <img src="{{ asset('uploads/images/' ~ currentImage) }}" style="height: 200px;width: 150px"/>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                {{ form_widget(form.image) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            {{ form_label(form.image2) }}
                        </div>
                        <div class="d-flex align-items-stretch justify-content-around">
                            <div class="col-md-2">
                                {% if (currentImage2 is defined and currentImage2 is not null) %}
                                    <img src="{{ asset('uploads/images/' ~ currentImage2) }}" style="height: 200px;width: 150px"/>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                {{ form_widget(form.image2) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            {{ form_label(form.image3) }}
                        </div>
                        <div class="d-flex align-items-stretch justify-content-around">
                            <div class="col-md-2">
                                {% if (currentImage3 is defined and currentImage3 is not null) %}
                                    <img src="{{ asset('uploads/images/' ~ currentImage3) }}" style="200px;width: 150px"/>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                {{ form_widget(form.image3) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            {{ form_label(form.image4) }}
                        </div>
                        <div class="d-flex align-items-stretch justify-content-around">
                            <div class="col-md-2">
                                {% if (currentImage4 is defined and currentImage4 is not null) %}
                                    <img src="{{ asset('uploads/images/' ~ currentImage4) }}" style="200px;width: 150px"/>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                {{ form_widget(form.image4) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-4 mx-auto">
                            {{ form_label(form.submit) }}
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div><!--fin row-->
        </div><!--fin container-->
    </div><!--fin bg light-->
{% endblock %}