{% extends 'basepdf.html.twig' %}

{% block body %}

     <style>
         a{
             font-size: 0.1px;
         }
         h1{
             text-align: center;
         }

     </style>

    <h1 class="margin">Fiche de : {{ user.firstname }} {{ user.lastname }}</h1>


    <div class="fiche">

        <p class="margin"><strong> Prénom :</strong> {{ user.firstname }}  </p> <hr>
        <p class="margin"><strong>Nom :</strong> {{ user.lastname }}  </p><hr>
        <p class="margin"><strong>Adresse :</strong> {{ user.adress }}  </p><hr>
        <p class="margin"><strong>Code postal :</strong> {{ user.cp }}  </p><hr>
        <p class="margin"><strong>Ville :</strong> {{ user.city }}  </p><hr>
        <p class="margin"><strong>Email :</strong> {{ user.email }}  </p><hr>
        <p class="margin"><strong>Téléphone :</strong> {{ user.tel }}  </p><hr>
        <p class="margin"><strong>Motif de la demande :</strong></p>
        <p> {{ user.description }}</p>
    </div>


{% endblock %}

