{% extends "base.html.twig" %}

{% block title %}Modification password{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#form_content'));
    </script>
{% endblock %}


{% block body %}
    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic) }}"alt="logo-header">
    {# FORMULAIRE UPDATE PWD #}
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class=" mx-auto text-center">
                <h1 class="">Modification du mot de passe</h1>
            </div>
        </div>
    </div>

    <div class="py-3 bg-light">
        <div class="row">
            <div class="col-6 mx-auto text-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  mx-auto">
                {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
            </div>
        </div>
    </div>



{% endblock %}